.background, .background .clouds, .background .grass {
  background-position: 0 center;
  background-repeat: repeat-x;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.background {
  background-image: url("/media/bg-sky-slice.png"), linear-gradient(rgba(121,201,249,1) 49%, rgba(127,173,113,1) 51%);
}

.background .clouds {
  background-image: url("/media/bg-clouds.png");
  animation: bg-slide infinite 200s linear;
}

.background .grass {
  background-image: url("/media/bg-grass.png");
  animation: bg-slide infinite 20s linear;
  animation-play-state: paused;
}

.background .grass.playing {
  animation-play-state: running;
}

@keyframes bg-slide {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -3840px;
  }
}
