.intro {
  background-color: #fff;
  border: 6px double black;
  position: absolute;
  top: calc(40% - 60px);
  left: calc(50% - 150px);
  width: 300px;
  height: 120px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  user-select: none;
}
