.sprites {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.sprites .pika {
  background-image: url("/media/pika.gif");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 100px;
  top: calc(50% - 100px);
  height: 200px;
  width: 200px;
}

.sprites .badie {
  background-image: url("/media/pidgey.gif");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: calc(80% - 100px);
  top: calc(50% - 100px);
  height: 160px;
  width: 160px;
}
